.contactPage {
    font-family: Montserrat;
    color: black;
    /* font-size: 18px; */
    text-align: center;
    position: relative;
    width: 120%;
    left: -10%; 
  }
  
  .contactPage > h1 {
    margin-top: 25vh;
    margin-bottom: 10vh;
    font-weight: 800;
  
    font-size: 3.5vw;
  }
  .contactPage > p {
    margin: 2vw; 
    font-size: 1.8vw;
  
  }
  .contactPage > p > a {
    color: black;
    font-family: Montserrat;
    margin: 2vw; 
  
    /* font-weight: 900; */
    /* font-size: 2vw; */
    /* margin-top: 5vh; */
    /* margin-right: 2vw; */
  }
  