.marathon {
    font-family: Montserrat;
    color: black;
    font-weight: 800;
  
    /* font-size: 18px; */
    text-align: center;
    position: relative;
    width: 120%;
    left: -10%;
  }
  
  .marathon > h1 {
    margin-top: 25vh;
    font-size: 3.5vw;
    font-weight: 800;
  
    margin-bottom: 5vh;
  
  }
  .marathon > p {
    text-align: justify;
    font-size: 1.8vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }