.newspaper {
    font-family: Montserrat;
    color: black;
    /* font-size: 18px; */
    text-align: center;
    position: relative;
    width: 120%;
    left: -10%; 
  }
  .newspaper > h1 {
    margin-top: 25vh;
    margin-bottom: 10vh;
    font-weight: 800;
  
    font-size: 4vw;
  }