
.wrapper {
  position: relative; 
  width: 60vw; 
  top: 0vw; 
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: Montserrat;
  font-size: 18px;

}
/* ----------------------------------------------------------------------------------- */

.leftLean {
  margin-top: 20px;
  position: relative;
  float: left;
  z-index: 98;
  height: 100%;
}
.leftLean > a {
  color: black;
  font-family: Montserrat;
  /* font-weight: 900; */
  font-size: 25px;
  /* z-index: 99; */

}


.rightLean {
  margin-top: 20px;
  position: relative;
  float: right;
  z-index: 98;
  height: 100%;

}
.rightLean > a {
  color: black;
  font-family: Montserrat;
  /* font-weight: 900; */
  font-size: 25px;
  /* z-index: 99; */

}

.videoCont {
  position: relative;
  float: down;
  height: 120%;
  width: 120%;
  left: -8vw;
  top: 17.5vh;
  z-index: 96;
}

.iconLinkCont {
  position: relative;
  float: down;
  top: 25vh;
}
.frontCont {
  height: 19vw;
  margin-bottom: 10vw;
  z-index: 99;
}

.overlayLink {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.overlayLink > p{
  margin-top: 50%;
  z-index: 99;
  text-align: center;
}

.overlayLink:hover{
  text-decoration: underline;
  background-color: grey;
  opacity: 0.1;
  text-decoration-color: black;
  z-index: 99;
}

.linkImgContainer {
  width: 18vw;
  overflow: visible;
}
.contact {
  position: fixed;
  right: 0vw;
  top: 0px;
}

.contact > a {
  color: black;
  font-family: Montserrat;
  /* font-weight: 900; */
  font-size: 18px;
  margin-top: 5px;
  margin-right: 10px;
}

.linkImg {
  width: 100%;
  max-width: 17vw;
  /* min-width: 100px; */
  /* max-height: 30vh; */
  /* height: 100%;   */
  position: absolute;
  z-index: 97;
}

.leftLean > .imgLink {
  left: 0px;
}

.rightLean > .linkImgContainer > a > img {
  right: -3vw;
}
.leftLean > .linkImgContainer > a > img {
  left: -3vw;
}
.linkImg:hover{
  opacity: 0.6;
}
.logoContainer {
  position: fixed; 
  z-index: 97;
  margin-left: 0vw;
  margin-right: 0vw; 
  top: 25%;
  left: 40%;
}

.logoContainer a > img:hover {
  background-color: azure
}

.frontLogo {
  position: relative;
  right: 0vw;
  width: 35%;
}
/* ----------------------------------------------------------------------------------- */

.about {
  font-family: Montserrat;
  color: black;
}
.aboutBulk {
  margin: 10px;
  margin-top: 37vh;

}
.aboutBulk > p {
  text-align: center;
  font-size: 18px;
}
.aboutBulk > h1 {
  text-align: center;
  font-size: 45px;
}
.aboutBulk > h2 {
  text-align: center;
}
.aboutBulk > hr {
  color: black;
}
.about > a {
  font-family: Montserrat;
  color: black;
  font-size: 18px;
}
.doers{
  position: relative;
  left: 0vh;
  text-align: Center;
  margin-bottom: 50px;
}
.doer {
  display: inline-block;
  margin: 22px;
  margin-bottom: 0px;
  width: 13vw;
  height: 100%;
}

.doer > p {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1px;
  /* font-size: 17px; */
}
/* ----------------------------------------------------------------------------------- */

.gallery {
  font-family: Montserrat;
  color: black;
  font-size: 18px;
}

.gallery > h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 45px;
}

.galleryWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4vw;
  grid-auto-rows: minmax(100px, auto);
}

.galleryCol1 {
  width: 18vw;
  margin-top: 4vh; 
}

.galleryCol1 > img {
  position: relative;
  width: 100%;
}
.galleryCol2 {
  margin-top: 4vh; 
  width: 18vw;
}
.galleryCol2 > img {
  position: relative;
  top: 12vw;
  width: 100%;
}
.galleryCol3 {
  margin-top: 0vh; 
  width: 18vw;
}
.galleryCol3 > img {
  position: relative;
  top: 6vw;
  width: 100%;
}
/* ----------------------------------------------------------------------------------- */

.voyage {
  font-family: Montserrat;
  color: black;
  /* font-size: 18px; */
  text-align: center;
}

.voyage > p {
  text-align: justify;
  margin-left: 5vw;
  margin-right: 5vw;

}

.voyage > h1 {
  margin-top: 25vh;
  font-size: 45px;
  margin-bottom: 50px;
}

.rowingTeam {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5vw;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 5vw;
  margin-top: 75px;
  margin-bottom: 50px;
}

.rowingCol1 > p {
  margin-top: 10px;
}
.rowingCol2 > p {
  margin-top: 10px;
}

.rowingCol1 {
  width: 18vw;
  position: relative;
}

.rowingCol2 {
  width: 18vw;
  position: relative;
  top: 15vw;
}
.rowingCol1 > p {
  margin-top: 10px;
}
.rowingCol2 > p {
  margin-top: 10px;
}
/* ----------------------------------------------------------------------------------- */
.marathon {
  font-family: Montserrat;
  color: black;
  /* font-size: 18px; */
  text-align: center;
}

.marathon > h1 {
  margin-top: 25vh;
  font-size: 45px;
  margin-bottom: 50px;

}
.marathon > p {
  text-align: justify;
  margin-left: 5vw;
  margin-right: 5vw;
}